.profilehead {
  height: 400px;
  width: 100%;
  background-color: #382f7a;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

.avatar {
  display: flex;
  justify-content: center;
  align-content: center;
}

.username {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

@media only screen and (min-width: 1024px) {
  
  .profilehead {  
    float: left;
    width: 30%;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .avatar { 
    padding-top: 5%;
  }
  
  .username h2 {
    padding-bottom: 5%;
    margin-top: 0;
  }
  
}