.new-tweet {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

#errorMessage {
  border: 2px solid red;
  text-align: center;
  color: red;
  font-weight: bold;
  padding: 5px;
}

.hidden {
  display: none;
}

label {
  display: flex;
  font-weight: 600;
  margin-top: 1em;
}

textarea {
  display: flex;
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: #f4f1ec;
}

.bottomstuff {
  font-family: 'Bungee', cursive;
  border-top: 5px solid black;
  margin-top: 0.5em;
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  color: #FFFFFF;
  background-color: #4056A1;
}

.red {
  color: red;
}

#bottomTweetButton {
  background-color: red;
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 75px;
  height: 75px;
  border: none;
  border-radius: 50px;
}

#bottomTweetButton:hover {
  cursor: pointer;
}
